#set($uuid = $util.autoId())
#set($timestamp = $util.time.nowISO8601())

## Save user session directly with a standard PutItem operation
{
  "version": "2018-05-29",
  "operation": "PutItem",
  "tableName": "UserSession-${env.API_PROOVD_GRAPHQLAPIIDOUTPUT}-${env.ENV}",
  "key": {
    "id": $util.dynamodb.toDynamoDBJson($uuid)
  },
  "attributeValues": {
    "clientId": $util.dynamodb.toDynamoDBJson($ctx.args.clientId),
    "websiteId": $util.dynamodb.toDynamoDBJson($ctx.args.websiteId),
    "metrics": $util.dynamodb.toDynamoDBJson($ctx.args.metrics),
    "isActive": $util.dynamodb.toDynamoDBJson(true),
    "lastActive": $util.dynamodb.toDynamoDBJson($timestamp),
    "__typename": $util.dynamodb.toDynamoDBJson("UserSession")
  },
  ## Save the website ID for the response template to use
  "postQuery": {
    "operation": "GetItem",
    "tableName": "WebsiteStats-${env.API_PROOVD_GRAPHQLAPIIDOUTPUT}-${env.ENV}",
    "key": {
      "id": $util.dynamodb.toDynamoDBJson($ctx.args.websiteId)
    }
  }
} 