#set($uuid = $util.autoId())
#set($timestamp = $util.time.nowISO8601())

## Save user session directly with a standard PutItem operation
{
  "version": "2018-05-29",
  "operation": "PutItem",
  "tableName": "UserSession-5qhnhm4zrrh2jb5hcz4m3ua7eu-dev",
  "key": {
    "id": $util.dynamodb.toDynamoDBJson($uuid)
  },
  "attributeValues": {
    "clientId": $util.dynamodb.toDynamoDBJson($ctx.args.clientId),
    "websiteId": $util.dynamodb.toDynamoDBJson($ctx.args.websiteId),
    "metrics": $util.dynamodb.toDynamoDBJson($ctx.args.metrics),
    "isActive": $util.dynamodb.toDynamoDBJson(true),
    "lastActive": $util.dynamodb.toDynamoDBJson($timestamp),
    "__typename": $util.dynamodb.toDynamoDBJson("UserSession"),
    "createdAt": $util.dynamodb.toDynamoDBJson($timestamp),
    "updatedAt": $util.dynamodb.toDynamoDBJson($timestamp)
  }
} 